In [1]:
### Algorithmic trading homework 2
### Saltanat Khalyk

In [2]:
###
##   10 companies data provided in the homework bundle (year-to-date price data from Yahoo Finance website)
###

In [4]:
### CHANGE THE LOCATION IN CODE WHERE BHP DATA IS LOCATED::: C:\Users\Asus\Documents\SALTANAT\fds\Homework02\Data

In [138]:
import numpy as np
from math import *

In [28]:
import pandas as pd

BHP = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/BHP.csv')
DE = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/DE.csv')
FE = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/FE.csv')
GOOG = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/GOOG.csv')
GS = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/GS.csv')
JNJ = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/JNJ.csv')
KO = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/KO.csv')
T = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/T.csv')
WMT = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/WMT.csv')
XOM = pd.read_csv('C:/Users/Asus/Documents/SALTANAT/fds/Homework02/Data/XOM.csv')

In [29]:
DE = DE[['Date','Close']]
#DE

In [30]:
BHP = BHP[['Close']]
FE = FE[['Close']]
GOOG = GOOG[['Close']]
GS = GS[['Close']]
JNJ = JNJ[['Close']]
KO = KO[['Close']]
T = T[['Close']]
WMT = WMT[['Close']]
XOM = XOM[['Close']]

In [31]:
close = pd.concat([DE, BHP, FE, GOOG, GS, JNJ, KO, T, WMT, XOM], axis=1, ignore_index=True)
close.columns =['Date','DE', 'BHP', 'FE', 'GOOG', 'GS', 'JNJ', 'KO', 'T', 'WMT', 'XOM']

In [32]:
close

,Date,DE,BHP,FE,GOOG,GS,JNJ,KO,T,WMT,XOM
0,2021-01-04,267.640015,67.349998,29.510000,1728.239990,265.000000,156.500000,52.759998,29.440001,146.529999,41.500000
1,2021-01-05,274.279999,69.500000,29.840000,1740.920044,270.929993,158.339996,52.180000,29.260000,145.750000,43.500000
2,2021-01-06,290.359985,71.709999,30.299999,1735.290039,285.549988,159.830002,50.520000,29.830000,146.660004,44.610001
3,2021-01-07,299.730011,73.180000,29.629999,1787.250000,291.649994,160.369995,49.959999,29.910000,146.649994,44.959999
4,2021-01-08,293.910004,73.459999,29.910000,1807.209961,290.079987,160.039993,51.080002,29.020000,146.630005,45.459999
...,...,...,...,...,...,...,...,...,...,...,...
63,2021-04-06,375.609985,69.870003,34.799999,2224.750000,327.059998,163.389999,53.189999,30.980000,140.100006,56.340000
64,2021-04-07,374.790009,71.150002,35.029999,2249.679932,326.549988,163.610001,53.279999,30.930000,139.800003,56.590000
65,2021-04-08,374.070007,71.230003,34.990002,2265.439941,331.140015,162.970001,53.119999,30.000000,139.710007,56.000000
66,2021-04-09,377.000000,70.730003,34.770000,2285.879883,330.809998,161.250000,53.180000,30.040001,139.779999,55.869999
67,2021-04-12,378.260010,70.019997,34.689999,2254.790039,331.839996,161.639999,53.349998,29.959999,139.800003,55.500000

In [34]:
#daily_ returns= (today close - yesterday close)/yesterday close*100
daily_returns = pd.DataFrame()

#daily_returns['BHP'] = close['BHP'].pct_change()

In [53]:
for i in close.columns:
    if i !='Date':
        daily_returns[i] = close[i].pct_change()

In [54]:
daily_returns

,DE,BHP,FE,GOOG,GS,JNJ,KO,T,WMT,XOM
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.024809,0.031923,0.011183,0.007337,0.022377,0.011757,-0.010993,-0.006114,-0.005323,0.048193
2,0.058626,0.031799,0.015416,-0.003234,0.053962,0.009410,-0.031813,0.019481,0.006244,0.025517
3,0.032270,0.020499,-0.022112,0.029943,0.021362,0.003379,-0.011085,0.002682,-0.000068,0.007846
4,-0.019417,0.003826,0.009450,0.011168,-0.005383,-0.002058,0.022418,-0.029756,-0.000136,0.011121
...,...,...,...,...,...,...,...,...,...,...
63,0.002134,-0.017852,0.000000,-0.000359,0.010880,-0.000245,0.007196,0.008792,0.004805,-0.002832
64,-0.002183,0.018320,0.006609,0.011206,-0.001559,0.001346,0.001692,-0.001614,-0.002141,0.004437
65,-0.001921,0.001124,-0.001142,0.007005,0.014056,-0.003912,-0.003003,-0.030068,-0.000644,-0.010426
66,0.007833,-0.007020,-0.006288,0.009023,-0.000997,-0.010554,0.001130,0.001333,0.000501,-0.002321
67,0.003342,-0.010038,-0.002301,-0.013601,0.003114,0.002419,0.003197,-0.002663,0.000143,-0.006622

In [59]:
daily_returns = daily_returns.drop(daily_returns.index[0])

In [ ]:
# average monthly return:
#sum(daily return)/n days
df.loc['avg'] = [1.0, 'hotel', 'true']
avg

In [61]:
daily_returns.shape[0]

67

In [103]:
# I created empty dictionary which will hold average return values
## avg1 -is average return 
## avg is annual return, we multiply to 250, because there are 250 trading days in one year.  
annual_return = {}

for i in daily_returns.columns:
    #avg1[i] = sum(daily_returns[i])/daily_returns.shape[0]
    annual_return[i] = (sum(daily_returns[i])/daily_returns.shape[0])*250
    #print(avg[i])
annual_return

{'DE': 1.3570575106376324,
 'BHP': 0.20455033116741755,
 'FE': 0.6325879477895627,
 'GOOG': 1.0417519656174814,
 'GS': 0.8767399406156541,
 'JNJ': 0.1348377358521864,
 'KO': 0.0574741918369449,
 'T': 0.08232062304037899,
 'WMT': -0.15302561933236714,
 'XOM': 1.1499822221282532}

In [93]:
## we should calculate variance:
## that is variance for 12 month
variance = {}
for i in daily_returns.columns:
    variance[i] = (daily_returns[i].var())*250
    #print(avg[i])
variance

{'DE': 0.12986189764524195,
 'BHP': 0.12082046459811828,
 'FE': 0.058407758962383885,
 'GOOG': 0.09728275059287991,
 'GS': 0.07386786395033658,
 'JNJ': 0.028788853997625853,
 'KO': 0.03234728296591785,
 'T': 0.034363761915362334,
 'WMT': 0.04468544113414933,
 'XOM': 0.12827448523476126}

In [205]:
cov_matrix= daily_returns.cov()*250

In [206]:
num_assets = len(daily_returns.columns)

weights = np.random.random(num_assets)
weights = weights / sum(weights)
weights

array([0.11518324, 0.15742335, 0.07336744, 0.10819613, 0.03932506,
       0.07100617, 0.12959867, 0.03469224, 0.11676658, 0.15444111])

In [207]:
weights_T = np.array(weights)[np.newaxis]

print('ANNUAL RETURN: ',ann_return, '\n')

print('WEIGHTS: ',weights_T, '\n' )

expected_return = np.matmul(weights_T, ann_return)

print('EXPECTED RETURN: ', expected_return)

std_for_port = sqrt((weights_T.dot(cov_matrix).dot(weights)))

print('Standart deviation: ', std_for_port)

ANNUAL RETURN:  [1.3570575106376324, 0.20455033116741755, 0.6325879477895627, 1.0417519656174814, 0.8767399406156541, 0.1348377358521864, 0.0574741918369449, 0.08232062304037899, -0.15302561933236714, 1.1499822221282532]

WEIGHTS:  [[0.11518324 0.15742335 0.07336744 0.10819613 0.03932506 0.07100617
  0.12959867 0.03469224 0.11676658 0.15444111]]

EXPECTED RETURN:  [0.56172906]
Standart deviation:  0.16463795126895736

In [208]:
weights_T.shape

(1, 10)

In [209]:
cov_matrix

,DE,BHP,FE,GOOG,GS,JNJ,KO,T,WMT,XOM
DE,0.129862,0.044173,-0.005068,0.014496,0.060804,0.007934,-0.003616,0.011478,0.027112,0.048274
BHP,0.044173,0.120820,0.010871,0.029803,0.036228,0.021647,0.005672,0.016865,0.012250,0.055907
FE,-0.005068,0.010871,0.058408,0.014365,0.009509,0.007372,0.007411,0.004501,-0.002883,0.009801
GOOG,0.014496,0.029803,0.014365,0.097283,-0.004274,0.008104,0.010483,0.002412,0.021195,0.026833
GS,0.060804,0.036228,0.009509,-0.004274,0.073868,0.005967,-0.002844,0.015104,0.011486,0.047703
JNJ,0.007934,0.021647,0.007372,0.008104,0.005967,0.028789,0.011063,0.012515,0.011053,0.012286
KO,-0.003616,0.005672,0.007411,0.010483,-0.002844,0.011063,0.032347,0.006572,0.006997,0.008288
T,0.011478,0.016865,0.004501,0.002412,0.015104,0.012515,0.006572,0.034364,0.012433,0.020735
WMT,0.027112,0.012250,-0.002883,0.021195,0.011486,0.011053,0.006997,0.012433,0.044685,0.020723
XOM,0.048274,0.055907,0.009801,0.026833,0.047703,0.012286,0.008288,0.020735,0.020723,0.128274

In [258]:
print(weights_T.dot(cov_matrix))
n=weights_T.dot(cov_matrix)
sum(weights)
n.shape

[[0.03661361 0.04247667 0.01015797 0.02640949 0.0251343  0.01307418
  0.00934536 0.01274894 0.01812589 0.04475624]]

(1, 10)

In [211]:
weights_T = np.array(weights)[np.newaxis]
#weights_T.shape
n=weights_T.dot(cov_matrix)
std_for_port = sqrt((n.dot(weights)))

In [212]:
std_for_port

0.16463795126895736

In [222]:
port_variance =np.dot(weights_T, np.dot(cov_matrix, weights))
print( 'Portfolio variance: ', port_variance )

Portfolio variance:  [0.02710565]

In [256]:
#pip install PyPortfolioOpt
#from pypfopt.efficient_frontier import EfficientFrontier

In [237]:
rf = 0.03

In [253]:
sharpe_ratio = (expected_return - rf)/(std_for_port)
print('SHARPE RATIO: ', sharpe_ratio)

SHARPE RATIO:  [3.22968703]

In [239]:
ann_return = list(annual_return.values())

In [263]:
## expected annual return, risk(volatility), variance

print('Expected annual return: ', expected_return*100)
print( 'Portfolio variance: ', port_variance )
print('Annual volatility /risk /std: ', std_for_port*100)
print('Sharpe ratio ',sharpe_ratio)
print('Weights: ', weights)

Expected annual return:  [56.17290555]
Portfolio variance:  [0.02710565]
Annual volatility /risk /std:  16.463795126895736
Sharpe ratio  [3.22968703]
Weights:  [0.11518324 0.15742335 0.07336744 0.10819613 0.03932506 0.07100617
 0.12959867 0.03469224 0.11676658 0.15444111]